{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %} Вход в личный кабинет {% endblock %}

{% block content %}

    <h2>Вход в личный кабинет</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button_entrance" type="submit">Войти</button>
    </form>
    <div class="register">
        <a class="register_button" href="{% url 'register' %}">Регистрация</a>
    </div>

{% endblock %}