{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_style.css' %}">
{% endblock %}

{% block title %} Детали продукта {% endblock %}
{% block content %}

{% include 'name.html' %}

    <section class="catalog_product">
    <div class="div">
    <div class="first_block_product">
        <button class="back" onclick="window.history.back();">
            <img class="back_img" src="{% static 'images/Vector(1).png' %}">
            <div>Назад</div>
        </button>

        <div class="stock_mobil">
            {% if product.stock %}
            <div class="stock_product_mobil"> {{product.stock}} </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>

        <div class="foto_product" style="background-image:url('{{ product.photos.all.0.photo.url }}')">
        <!-- Лайк -->
        {% if user.is_authenticated %}
            {% if liked %}
            <img class="like-img" src="{% static 'images/Vector1.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
            {% else %}
            <img class="like-img" src="{% static 'images/Vector.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
            {% endif %}
        {% else %}
        <img class="like-img register-btn" src="{% static 'images/Vector.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
        {% endif %}
        </div>
        {% if product.photos.count > 1 %}
        <div class="fotos_product_dop" style="display: flex;">
        {% for photo in product.photos.all|slice:"1:4" %}
            <img class="foto_product_dop" src="{{photo.photo.url}}" alt="Изображение продукта" />
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="fsecond_block_product">
        <div class="name_stock">
            <h1 class="name_product"> {{product.name}} </h1>
            {% if product.stock %}
            <div class="stock_product"> {{product.stock}} </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>

        {% load price_extras %}

        <div class="price">
            {% if product.stock %}
            {% with discount_percentage=product.stock.discount|add:"0" %}
            {% with original_price=product.price %}
            {% with discount_amount=original_price|mul:discount_percentage|div:100 %}
            {% with discounted_price=original_price|subtract:discount_amount %}
            <div class="price_product"> {{ discounted_price|floatformat:0 }} ₽</div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            <div class="price_product_stock"><span class="strikethrough">{{ product.price|floatformat:0 }}</span> ₽</div>
            {% endwith %}
            {% else %}
            <div class="price_product"> {{ product.price|floatformat:0 }} ₽</div>
            {% endif %}
        </div>

        <div class="info_product">
            <div class="description">Описание</div>
            <div class="description_text">{{product.description}}</div>
        </div>

        <div class="basket_product">
            {% if user.is_authenticated %}
                {% if basket %}
                    <div class="basket-item" data-product-id="{{ product.id }}">
                        <div class="quantity-controls">
                            <button class="decrease" data-product-id="{{ product.id }}">-</button>
                            <!-- Показываем текущее количество -->
                            <div class="quantity" data-product-id="{{ product.id }}">{{ user_product_count }}</div>
                            <button class="increase" data-product-id="{{ product.id }}">+</button>
                        </div>
                    </div>
                {% else %}
                    <button class="basket_put_product color" type="button" data-product-id="{{ product.id }}" data-product-name="{{ product.name }}">
                        В корзину
                    </button>
                {% endif %}
            {% else %}
                <button class="basket_put_product register-btn color" type="button" data-product-id="{{ product.id }}" data-product-name="{{ product.name }}">
                    В корзину
                </button>
            {% endif %}
        </div>
    </div>
    </div>

    <div class="look">
        <div class="look_text_blok">
          <div class="look_text">Смотрите также</div>
          <div class="empty"></div>
        </div>
        <div class="grup_product mobil">
            {% for product in recommendations %}
            <div class="product">
                <!-- Фото продукта -->
                <div class="drawing" style="background-image:url('{{ product.photos.all.0.photo.url }}')">
                    <!-- Лайк -->
                    {% if user.is_authenticated %}
                        {% if product.is_liked %}
                        <img class="like-img" src="{% static 'images/Vector1.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
                        {% else %}
                        <img class="like-img" src="{% static 'images/Vector.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
                        {% endif %}
                    {% else %}
                    <img class="like-img register-btn" src="{% static 'images/Vector.png' %}" data-product-id="{{ product.pk }}" style="cursor:pointer;">
            {% endif %}
                </div>
                <!-- Модальное окно -->
                <div class="registerModal">
                    <div class="register_modal">
                        <div class="info">Чтобы продолжить, пожалуйста, зарегистрируйтесь или войдите.</div>
                        <div>
                            <a class="a" href="{% url 'register' %}">Регистрация</a> | <a class="a" href="{% url 'login' %}">Войти</a>
                        </div>
                        <button class="button closeModal" type="button">Закрыть</button>
                    </div>
                </div>
                <div class="product_info">
                    <div class="product_info1">
                        {% if product.stock %}
                        <div class="input_hit">{{product.stock}}</div>
                        {% else %}
                        <div class="input_empty">{{product.stock}}</div>
                        {% endif %}
                        <div class="bouquet_name">
                            {{product.name}}
                        </div>
                        <div class="cost">
                            {{product.price}}
                        </div>
                    </div>
                    <div class="detailed1">
                        <a href="{% url 'detail' product.pk %}" style="cursor:pointer; text-decoration: none; color: white;" class="detailed color">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    </section>

    {% include 'feedback.html' %}

    <script>
        const updateBasketBaseUrl = "/update-basket/";
        const addToBasketUrl = "{% url 'add_to_basket' %}";
          {% if user.is_authenticated %}
              var isAuthenticated = true;
          {% else %}
              var isAuthenticated = false;
          {% endif %}
    </script>
    <script src="{% static 'js/product.js' %}"></script>

{% endblock %}