.section {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
}
.basket_blok {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.basket_text {
    font-family: "Vetrino";
    font-size: 40px;
    width: 178px;
    font-weight: 400;
    line-height: 48px;
}
.line_basket {
    border-bottom: 1px solid #000000;
    width: 1024px;
}
.bucket_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.first_bucket_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.second_bucket_block {
    width: 400px;
    display: flex;
}
.user_product_blok {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 816px;
    height: 212px;
    border-radius: 20px;
    background-color: #FFFFFF;
    gap: 20px;
}
.product_bucket_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 192px;
}
.foto_product {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    width: 192px;
    height: 192px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.product_info_bucket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 382px;
    height: 192px;
    gap: 10px;
}
.product_price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 179px;
    height: 192px;
    gap: 82px;
}
.bucket_name {
    font-size: 26px;
    font-weight: 700;
    font-family: "Rubik";
}
.bucket_short_description {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    font-family: "Rubik";
    height: 50px;
}
.bucket_stock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik";
    font-size: 18px;
    height: 30px;
    width: 175px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 500;
}
.price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.price_product {
    font-family: "Rubik";
    font-size: 22px;
    font-weight: 500;
}
.price_product_stock {
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
}
.strikethrough {
    text-decoration: line-through;
}
.basket-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    height: 42px;
    width: 114px;
    border-radius: 10px;
    background-color: #8F9BA3;
}
.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrease {
    border: none;
    background-color: #8F9BA3;
    cursor:pointer;
    color: #FFFFFF;
    width: 24px;
}
.increase {
    border: none;
    background-color: #8F9BA3;
    cursor:pointer;
    color: #FFFFFF;
    width: 24px;
}
.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 66px;
    border: 1px solid #8F9BA3;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.count_basket_blok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.delete {
    cursor: pointer;
}
.contact_information {
    display: flex;
    flex-direction: column;
    height: 471px;
    width: 816px;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 8px;
}
.contact_information_text {
    font-family: "Vetrino";
    font-size: 34px;
    height: 40px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;
}
.form_basket {
    font-size: 22px;
    font-family: "Rubik";
    font-weight: 400;
    padding-left: 20px;
    padding-top: 20px;
}
.basket_label {
    display: flex;
}
.basket_input {
    padding-left: 10px;
    border: none;
    outline: none;
}
.basket_label_comment {
    height: 113px;
}
.line_basket {
    width: 776px;
    height: 1px;
    margin-top: -25px;
}
input {
    font-size: 20px;
    font-weight: 300;
    color: #555D61;
}
textarea {
    font-size: 20px;
    font-weight: 300;
    color: #555D61;
}
.bucket_result {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 541px;
    border-radius: 20px;
    background-color: #F2F6F7;
    border: 1px solid #78AC47;
}
.order_amount {
    font-size: 24px;
    font-family: "Vetrino";
    font-weight: 400;
    padding-left: 22px;
    padding-top: 26px;
}
.basket_count_amount {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 400;
    padding-top: 29px;
    padding-left: 26px;
}
.line_order_amount {
    width: 330px;
    height: 0.5px;
    background-color: #000000;
    margin-left: 22px;
    margin-top: 20px;
}
.total_basket {
    font-weight: 500;
    padding-left: 32px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
    font-size: 24px;
    font-family: "Rubik";
    padding-top: 29px;
    padding-left: 26px;
}
.arrange {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFDFD;
    background-color: #78AC47;
    width: 355px;
    height: 64px;
    border-radius: 40px;
    font-family: "Rubik";
    font-size: 24px;
    margin-left: 22px;
    margin-top: 19px;
    border: none;
}
.amount_basket {
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount_price {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 400;
    padding-top: 29px;
    padding-right: 26px;
}
.basket_count_amount_all {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 500;
    padding-top: 29px;
    padding-left: 26px;
}
.amount_price_all {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    padding-top: 29px;
    padding-right: 26px;
}
.amount_basket_all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}