.header {
    height: 100px;
    width: 100%;
    background-color: #78AC47;
    color: #FFFDFD;
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 500;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header_name {
    height: 84px;
    width: 227px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: "Vetrino";
    font-weight: 400;
}
.header_menu {
    height: 84px;
    width: 534px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_basket {
    gap: 29px;
    height: 84px;
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.like {
    cursor: pointer;
    height: 40;
    weight: 43;
}
.like_count {
    position: relative;
}
.like_count .count_like {
    position: absolute;
    top: 33%; /* Центр по вертикали */
    left: 84%; /* Центр по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование по обеим осям */
    color: #EBEBEB;
    font-weight: 500;
    font-size: 8px;
}
.basket_count {
    position: relative; /* Для позиционирования вложенных элементов */
}
.count_like {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #BC5B90;
    border-radius: 50%;
}
.count_basket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #BC5B90;
    border-radius: 50%;
}
.basket_count .count_basket {
    position: absolute;
    top: 33%; /* Центр по вертикали */
    left: 83%; /* Центр по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование по обеим осям */
    color: #EBEBEB;
    font-weight: 500;
    font-size: 8px;
}
.logo {
    display: none;
}
.nav-menu {
    display: none;
}
/* Убрать стандартные стили для ссылки, если нужно */
.profile-link {
    text-decoration: none;
    color: inherit;
}
.exit {
    border: none;
    background-color: #78AC47;
    color: #FFFFFF;
    cursor:pointer;
}
.exit:hover {
    background: rgba(255,255,255,.2)
}
/* скрываем меню по умолчанию */
.burger-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -70%;
    border: 1px solid #ccc;
    border-radius: 10%;
    background-color: #78AC47;
}

/* показываем меню при наведении на родитель */
.profile-link:hover .burger-menu {
    display: block;
}

/* стили для меню */
.burger-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger-menu li {
    padding: 8px 12px;
}

.burger-menu li a {
    font-family: "Rubik";
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.burger-menu li a:hover {
    background: rgba(255,255,255,.2)
}

.footer {
    height: 302px;
    background-color: #234118;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_name_mob {
    display: none;
}
.footer_link {
    display: flex;
    gap: 58px;
    justify-content: flex-start;
    align-items: center;
}
.footer_menu {
    color: #FFFDFD;
    font-size: 24px;
    font-family: "Rubik";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
    height: 84px;
    font-weight: 500;
}
.footer_name {
    font-size: 32px;
    font-family: "Vetrino";
    color: #FFFDFD;
    height: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}
.footer_pol {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    font-weight: 400;
}


.color:hover {
    background-color: #8F9BA3;
    border-bottom: 1px solid #8F9BA3;
}
.color:active {
    background-color: #BC5B90;
    border-bottom: 1px solid #BC5B90;
}


@media (max-width: 850px){
    .header {
        height: 80px;
    }
    .container {
        max-width: 480px;
        height: 100%;
    }
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    .header_name {
        height: 33px;
        width: 148px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .header_menu {
        display: none;
    }
    .header_basket {
        display: none;
    }

    .logo {
        display: block;
        margin-right:15px;
        cursor: pointer;
        width: 40px;
        height: auto;
    }
    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 350px;
        background-color: #78AC47;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transition: right 0.3s ease-in-out;
        z-index: 100;
        border-radius: 10px;
    }
    .nav-menu ul {
        list-style: none;
        padding: 20px;
        margin: 0;
    }
    .nav-menu ul li {
        margin-bottom: 10px;
    }
    .nav-menu ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 25px;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }
    .nav-menu.active {
        display: block;
        right: 0;
    }
    .overlay.active {
        display: block;
    }
    li {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        font-family: "Rubik";
        text-align: center;
        text-decoration: none;
    }
    li:hover {
        background: rgba(255,255,255,.2)
    }
    .footer {
        height: 146px;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer_name_mob {
        display: block;
        font-size: 24px;
        font-family: "Vetrino";
        color: #FFFDFD;
        height: 45px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 400;
    }
    .footer_link {
        display: flex;
        gap: 21px;
        justify-content: flex-start;
        align-items: center;
    }
    .footer_link1 {
        header: 25px;
        width:25px;
    }
    .footer_menu {
        display: none;
    }
    .footer_name {
        display: none;
    }
    .footer_pol {
        display: none;
    }
}